<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<th:block th:fragment="pageNation(EduPageVO)">

          <div class="ui-pagination">
            <a class="ui-page current">1</a>&#160;<a
              href="?pageIndex=2"
              onclick="fn_list(2);return false;"
              class="ui-page"
              >2</a
            >&#160;<a
              href="?pageIndex=3"
              onclick="fn_list(3);return false;"
              class="ui-page"
              >3</a
            >&#160;<a
              href="?pageIndex=4"
              onclick="fn_list(4);return false;"
              class="ui-page"
              >4</a
            >&#160;<a
              href="?pageIndex=5"
              onclick="fn_list(5);return false;"
              class="ui-page"
              >5</a
            >&#160;<a
              href="?pageIndex=6"
              onclick="fn_list(6);return false;"
              class="ui-page"
              >6</a
            >&#160;<a
              href="?pageIndex=7"
              onclick="fn_list(7);return false;"
              class="ui-page"
              >7</a
            >&#160;<a
              href="?pageIndex=8"
              onclick="fn_list(8);return false;"
              class="ui-page"
              >8</a
            >&#160;<a
              href="?pageIndex=9"
              onclick="fn_list(9);return false;"
              class="ui-page"
              >9</a
            >&#160;<a
              href="?pageIndex=10"
              onclick="fn_list(10);return false;"
              class="ui-page"
              >10</a
            >&#160;<a
              href="?pageIndex=11"
              onclick="fn_list(11);return false;"
              class="ui-btn ui-btn-next"
              ><img
                src="../images/btn_page_next.gif"
                alt="다음"
                border="0" /></a
            >&#160;<a
              href="?pageIndex=45"
              onclick="fn_list(45);return false;"
              class="ui-btn ui-btn-last"
              ><img
                src="../images/btn_page_last.gif"
                alt="마지막"
                border="0" /></a
            >&#160;
          </div>
          </th:block>