* {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

ul, li {list-style: none; }
a { text-decoration: none; color: #000; }
header{
    height: 132px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: url(../img/background.png) repeat-x 0 0;
}

#headerA{
    margin: 0 auto;
    width: 980px;
    height: 84px;
}

.headerLogo{
    float: left;
    margin: 22px 0 0;
}
.topMenu{

    float: right;
    height: 33px;
    margin: 34px 0 0;
}
.topMenu ul{
    float: left;
}
.topMenu ul li{
    position: relative;
    float: left;
    margin: 0 0 0 20px;
}

.topMenu ul li a{
    font-size: 13px;
    line-height: 33px;
    font-weight: 400;
    font-family: "Noto Sans KR",sans-serif;
}
/* .gnbb{
    background-color: red;
} */
.gnb{
    position: relative;
    width: 980px;
    height: 50px;
    margin: 0 auto;
   
}

.gnb a{
    color:white;
    line-height: 50px;
    width: 100%;
    text-align: center;

}
.m{
    float: left;
    width: 16.5%;
}
.hd-search{
    position: relative;
    float: left;
    width: 160px;
    margin: 0 0 0 20px;
}
.inputsrch{
    width: 120px;
    height: 33px;
    padding: 0 32px 0 10px;
    border: 1px solid #a9a9a9;
    border-radius: 15px;
    font-weight: 400;
}

.btn{
    position: absolute;
    right: 10px;
    top: 7px;
    display: block;
    width: 21px;
    height: 21px;
    border: none;
    background: url("../img/btn_search.png") no-repeat 0 0;
    
}
.submenu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 980px;
    background: #fff;
}
.submenuHide{
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    border-left: 0.5px solid #a9a9a9;
    border-bottom: 0.5px solid #a9a9a9;
    border-right: 0.5px solid #a9a9a9;
}
.submenu-title{
    position: relative;
    float: left;
    width: 227px;
    min-height: 127px;
    padding: 28px 80px 0 50px;
    font-size: 14px;
    border-right:0.5px solid #a9a9a9;
    line-height: 20px;
}

.submenu-title strong{

    display: block;
    margin: 0 0 20px;
    font-size: 25px;
    color: #000;
    font-weight: 500;
}
.submenu-list{
    float: left;
    width: 592px;
    
    padding: 30px 0 0 27px;
}
.submenu-list a{
    color:#000
}

ul .m .submenu-list li{
    display: inline-block;
    width: 200px;
}
ul .m .submenu-list li a{
    font-size: 15px;
}



#footerR{
    width: 100%;
    padding: 0 0 30px;
    border-top: 1px solid #e7e7e7;
    background: url(../img/bg_footer.png) repeat-x 0 0 #fff;
    letter-spacing: -1px;
}

#footerR .footer-menu{
    position: relative;
    width: 980px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;

}

#footerR .footer-menu .footer-menu-list li:first-child {
    padding: 0;
    margin: 0;
   

}
.footer-menu-list{
    overflow: hidden;
    
}
#footerR .footer-menu .footer-menu-list li {
    position: relative;
    float: left;
    width: 15%;
    padding: 0 0 0 16px;
    margin: 0 30px 0 13px;
    text-align: center;
   
}

#footerR .footer-menu .footer-menu-list li a {
    line-height: 50px;
    font-size: 13px;
    color: #2e3434;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
   
}

#headerR + #wrap {
    padding-top: 132px;
}

#footerR .address {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

#footerR .address .copyright {
    padding: 32px 0 0;
    font-size: 13px;
    color: #4b4b4b;
    line-height: 20px;
    letter-spacing: -0.5px;
    
}
#footerR .address .logo-site {
    position: absolute;
    right: 0;
    top: 25px;
}

#container{
    height: 400px;
}

#footerR .footer-menu .family-site {
    position: absolute;
    right: 0;
    top: 9px;
    width: 148px;
}
#footerR .footer-menu .family-site .family-site-layer {
    display: none;
    position: absolute;
    right: 0;
    bottom: 29px;
    width: 146px;
    padding: 1px 0 3px;
    border: 1px solid #d5d5d5;
    background: #fff;
    z-index: 10;
}
#footerR .footer-menu .family-site .family-site-title {
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    color: #2e3434;
}

