#headerR + #container {
    padding-top: 132px;
}
.main-visual-area {
    width: 100%;
    height: 562px;
    background: url(../img/main/bg_main_visual.png) no-repeat center 84px #e9e6e0;
    letter-spacing: -1px;
}
.main-visual {
    width: 980px;
    padding: 63px 0 0;
    margin: 0 auto;
}
.main-visual .slogan {
    text-align: center;
    font-size: 45px;
    font-family: 'NanumSquareRound';
    color: #000;
    letter-spacing: -1.5px;
}
.main-visual .slogan span {
    color: #f42b3c;
}
.main-visual .member-type {
    width: 710px;
    height: 110px;
    margin: 45px auto 0;
}

#ppt h1, h2, h3, h4, h5, h6 {
    font-family: NanumGothicWeb;
    font-size: 125%;
    font-weight: normal;
}
/*  여기 꾸며야돼요~*/
.main-visual .member-type li:first-child {
    margin-left: 0;
}
.main-visual .member-type li {
    float: left;
    width: 110px;
    height: 110px;
    margin: 0 0 0 10px;
    text-align: center;
}
.main-visual .member-type li a.mb01 {
    background-image: url(../img/main/img_main_mbtype01.png);
}
.main-visual .member-type li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999999px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 top;
}
.main-visual .member-type li a.mb02 {
    background-image: url(../img/main/img_main_mbtype02.png);
}
.main-visual .member-type li a.mb03 {
    background-image: url(../img/main/img_main_mbtype03.png);
}
.main-visual .member-type li a.mb04 {
    background-image: url(../img/main/img_main_mbtype04.png);
}

.main-visual .member-type li a.mb05 {
    background-image: url(../img/main/img_main_mbtype05.png);
}

.main-visual .member-type li a.mb06 {
    background-image: url(../img/main/img_main_mbtype06.png);
}
.main-visual .member-type li a:hover, .main-visual .member-type li a:focus {
    background-position: 0 bottom;
}

.main-visual .main-search-bx {
    width: 980px;
    padding: 22px 0 24px;
    margin: 35px auto 0;
    border-radius: 14px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(188,185,179,0.3);
    -moz-box-shadow: 0px 0px 1px 1px rgba(188,185,179,0.3);
    box-shadow: 0px 0px 1px 1px rgba(188,185,179,0.3);
}

.main-visual .main-search-bx .txt-info {
    font-size: 26px;
    color: #000;
    text-align: center;
    font-weight: 500;
}
.main-visual .main-search-bx .input-wrap {
    overflow: hidden;
    width: 750px;
    height: 50px;
    margin: 14px auto 0;
    border: 2px solid #f42b3c;
    border-radius: 10px;
}
.main-visual .main-search-bx .input-wrap .sel-srch-type {
    float: left;
    width: 120px;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 22px;
    border: none;
    background: url(../img/main/ico_main_search_arw.png) no-repeat right 22px;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: "Noto Sans KR", sans-serif;
}
option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.main-visual .main-search-bx .input-wrap .input-main-search {
    float: left;
    width: 501px;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 22px;
    border: none;
    font-size: 17px;
    font-family: "Noto Sans KR", sans-serif;
}
.main-visual .main-search-bx .input-wrap .btn-main-search {
    float: left;
    width: 107px;
    height: 50px;
    line-height: 50px;
    background: #f42b3c;
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-family: "Noto Sans KR", sans-serif;
}

.main-visual .main-search-bx .tag-keyword {
    margin: 10px 0 0;
    text-align: center;
}
.main-visual .main-search-bx .tag-keyword a:first-of-type {
    margin-left: 0;
}

.main-visual .main-search-bx .tag-keyword a {
    display: inline-block;
    height: 35px;
    line-height: 33px;
    padding: 0 20px;
    margin: 10px 0 0 10px;
    border: 1px solid #e3e3e3;
    border-radius: 17px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.main-visual .main-search-bx .tag-keyword a span {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 33px;
}
.main-visual .main-search-bx .tag-keyword a:hover {
    border-color: #ff0000;
    color: #f42b3c;
}
.main-notice-area {
    overflow: hidden;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #e3e3e3;
    letter-spacing: -1px;
}
.main-notice {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.main-notice .notice-title {
    float: left;
    width: 82px;
    height: 58px;
    line-height: 58px;
    padding: 0 0 0 64px;
    border-right: 1px solid #e3e3e3;
    background: url(../img/main/ico_main_notice.png) no-repeat 20px 13px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
}

.main-notice .notice-item-warp {
    position: relative;
    float: left;
    height: 58px;
}
.main-notice .notice-item-warp .bx-wrapper {
    width: 767px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: none;
}




.main-banner .banner-zone .btn-more-banner {
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
    width: 19px;
    height: 19px;
    background: url(../images/btn_main_more2.png) no-repeat 0 0;
    text-indent: -999999px;
    font-size: 0;
}
.main-notice .notice-item-warp .bx-wrapper {
    width: 767px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: none;
}

.main-notice .notice-item-warp li {
    position: relative;
    width: 613px;
    height: 58px;
    padding: 0 0 0 20px;
    line-height: 58px;
    font-size: 17px;
}

.main-notice .notice-item-warp .notice-slider a {
    display: inline-block;
    width: 500px;
    line-height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 17px;
    font-family: "Noto Sans KR", sans-serif;
}


.main-notice .notice-item-warp .bx-controls {
    position: absolute;
    right: -155px;
    top: 50%;
    margin-top: -11px;
}
.main-notice .notice-item-warp .bx-controls-auto {
    float: right;
    width: 21px;
    height: 21px;
    overflow: hidden;
}

.main-notice .notice-item-warp .bx-controls-auto .bx-stop {
    background: url(../img/main/btn_main_stop.png) no-repeat 5px 4px;
}

.main-notice .notice-item-warp .bx-controls-auto a {
    display: block;
    width: 21px;
    height: 21px;
    text-indent: -999999px;
    font-size: 0;
}
.main-notice .notice-item-warp .bx-pager {
    float: right;
    height: 22px;
    margin-right: 10px;
}

.main-notice .notice-item-warp .bx-pager .bx-pager-item:first-of-type {
    margin-left: 0;
}

.main-notice .notice-item-warp .bx-pager .bx-pager-item {
    float: left;
    width: 21px;
    height: 21px;
    margin: 0 0 0 6px;
}



.main-notice .notice-item-warp .bx-pager a:hover, .main-notice .notice-item-warp .bx-pager a.active, .main-notice .notice-item-warp .bx-pager a:focus {
    background-color: #f7590f;
}

.main-notice .notice-item-warp .bx-pager a {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 0 6px 0 0;
    border-radius: 100%;
    background: #f7f9f9;
    text-indent: -999999px;
    font-size: 0;
    border: 2px solid #f7590f;
}
.main-notice .notice-item-warp .bx-controls-auto .bx-start {
    background: url(../img/main/btn_main_play.png) no-repeat 5px 4px;
}

.main-notice .btn-more-notice {
    position: absolute;
    top: 20px;
    right: 0;
    width: 18px;
    height: 18px;
    background: url(../img/main/btn_mai_more.png) no-repeat 0 0;
    text-indent: -999999px;
    font-size: 0;
}
.main-banner .banner-zone .btn-more-banner {
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
    width: 19px;
    height: 19px;
    background: url(../img/main/btn_main_more2.png) no-repeat 0 0;
    text-indent: -999999px;
    font-size: 0;
}
.main-banner-area {
    width: 100%;
    height: 346px;
    background: #f0f0ee;
    letter-spacing: -1px;
}

.main-banner {
    width: 980px;
    padding: 40px 0;
    margin: 0 auto;
}

.main-banner .banner-zone:first-of-type {
    margin-left: 0;
}

.main-banner .banner-zone {
    position: relative;
    overflow: hidden;
    float: left;
    width: 254px;
    height: 229px;
    padding: 15px 25px 20px;
    margin: 0 0 0 29px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background: #fff;
}

.main-banner .banner-zone .banner-title {
    margin: 0 0 14px;
    font-size: 17px;
    color: #1a1a1a;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
}
.main-banner .banner-zone.dream .bx-controls, .main-banner .banner-zone.event .bx-controls {
    right: 25px;
    background-color: white;
}

.main-banner .banner-zone .bx-controls {
    position: absolute;
    top: 15px;
    right: 51px;
    height: 19px;
}
.main-banner .banner-zone .bx-controls .bx-controls-direction {
    margin-right: 7px;
}
.main-banner .banner-zone .bx-controls .bx-controls-direction .bx-prev {
    background-position: 0 top;
}

.main-banner .banner-zone .bx-controls .bx-controls-direction a {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    margin: 0 0 0 7px;
    background-image: url(../img/main/btn_main_bxslider_controls2.png);
    background-repeat: no-repeat;
    text-indent: -999999px;
    font-size: 0;
}
.main-banner .banner-zone .bx-controls .bx-controls-direction .bx-next {
    background-position: 0 bottom;
}
.main-banner .banner-zone .bx-controls .bx-controls-direction, .main-banner .banner-zone .bx-controls-auto {
    float: left;
    height: 19px;
}
.main-banner .banner-zone .bx-controls-auto .bx-start {
    background-position: 0 bottom;
}
.main-banner .banner-zone .bx-controls-auto .bx-stop {
    background-position: 0 top;
}
.main-banner .banner-zone .bx-controls-auto a {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url(../img/main/btn_main_playstop.png);
    background-repeat: no-repeat;
    text-indent: -999999px;
    font-size: 0;
}
.main-banner .banner-zone.dream {
    height: 229px;
}

.main-banner .banner-zone.dream .banner-slider img {
    width: 254px;
    height: 195px;
}

.main-visual .main-search-bx .txt-info span {
    color: #ff0000;
}

.main-banner .banner-zone.jinroMv .mvtitle {
    display: block;
    width: 254px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 19px 0 0;
    font-size: 15px;
    color: #1a1a1a;
    font-family: "Noto Sans KR", sans-serif;
}

.main-banner .banner-zone.jinroMv .jinroMv-slider img {
    width: 254px;
    height: 160px;
}