<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.careernet.teacher.service.TeacherMapper">

	<!-- 회원가입 완료 후 DB저장 -->
	<insert id="teacherJoin" parameterType="TeacherVO">
		insert into teacher(tea_id,
						    tea_pw,
						    tea_name,
						    tea_gender,
						    tea_birthday,
						    tea_email,
						    tea_area,
						    tea_school,
						    tea_age
						    )
	    values(#{tea_id},
		       #{tea_pw},
		       #{tea_name},
		       #{tea_gender},
		       #{tea_birthday},
		       #{tea_email},
		       #{tea_area},
		       #{tea_school},
		       #{tea_age})
	</insert>
	
	
	<!-- 회원가입시 중복확인 -->
	<select id="getTea_id" resultType="String">
		select tea_id from teacher where tea_id=#{tea_id}
	</select>

</mapper>